.sidebar__item {
  $sidebar-size: 3.125rem;
  flex: 0 1 $sidebar-size;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: $sidebar-size;
  line-height: $sidebar-size;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
