@import '~styles/colors';

.icon {
  @mixin color-transition {
    transition: 0.2s color, 0.2s transform linear;
    transform: rotate(360deg);
  }

  height: 1.8em;
  transition: 0.2s color, 0.2s transform linear;
  transform: rotate(0deg);

  &__icon.fa { font-size: 1rem; }
  &--downloading, &--uploading, &--checking { @include color-transition; }
  &--downloading { color: $serene-primary; }
  &--uploading { color: $serene-success; }
  &--checking { color: $serene-warning; }
}
