@import '../../../../scss/colors';
@import '../../../../scss/mixins';

.footer {
  @include one-line-rules(2.5em);

  background: $serene-lighter;
  border-top: 1px solid $serene-light;
  color: $serene-dark;
  font-size: 0.8rem;
  position: relative;

  &__actions {
    &-list {
      @include react-transition(translateX(-100%), translateX(0%), 'footer');
      color: $serene-darkest;
      float: left;
    }
    &-item {
      float: left;
      position: relative;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-right: 1px solid #ccc;
      padding: 0 5px;

      > span {
        display: none;
      }
      > i {
        position: relative;
        left: 1px;
      }
      &:hover {
        color: #aaa;
        > i {
          visibility: hidden;
        }
        > span {
          cursor: default;
          position: absolute;
          display: inline;
          text-align: center;
          left: 0;
          right: 0;
        }
      }
    }
  }
  &__info {
    &-list {
      float: right;
      margin-right: 5px;
    }
    &-item {
      float: left;
      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ccc;
      }
    }
  }
}
