@import '~styles/colors';
@import '~styles/mixins';

.header {
  @include one-line-rules(3rem);
  padding: 0 2em;
  border-bottom: 1px solid $serene-light;

  &__search {
    &__container {
      color: $serene-light;
      float: left;
    }
    font-size: 0.8em;
    letter-spacing: 0.05rem;
    width: auto !important;

    &__label {
      margin-right: 0.5em;
    }
  }
  &__title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
  &__filter {
    color: $serene-primary-highlighted;
  }

}

.nav {
  float: right;
  font-size: 1.2em;
  &__item {
    display: inline-block;
    text-align: center;
    width: 2.3em;
  }
  &__link {
    display: block;
    white-space: nowrap;
    position: relative;

    &__caret {
      position: absolute;
      left: 1.6em;
      top: 50%;
      transform: scale(0.6) translateY(-80%);
    }
  }
}
