@import '~styles/colors';
@import '~styles/mixins';

.header {
  @include one-line-rules(3.125rem);
  background: $serene-primary;
  color: #fff;
  display: flex;
  letter-spacing: 0.05rem;

  &__tabs {
    &__tab {
      border-right: 1px solid #526E9D;
      padding: 0 1em;
      cursor: pointer;

      &:hover { background: #385A8C; }
      &--active { background: #526E9D; }
      &__meta {
        font-size: 0.5em;
        margin-left: 0.5em;
        position: relative;
        top: -2px;
      }
      &__title { line-height: 1; }
    }
  }

}
