@import '~styles/colors';

.parsed-torrent {
  &__container {
    height: 70vh;
    margin: 1em auto 0;
    overflow: scroll;
    width: 90%;
    user-select: none;
    -webkit-user-select: none;
  }

  &__submit { width: 100%; }

  &__data {
    clear: both;
    overflow: hidden;
    margin-bottom: 1em;

    &:not(:last-child) {
      padding-bottom: 1em;
      border-bottom: 1px solid #eee;
    }
    &__heading { margin-bottom: 1em; }
    &__file {
      $nester-width: 3em;
      $nester-height: 0.7em;

      &__icon {
        color: $serene-dark;
        margin-right: 0.3em;
      }

      &__list {
        font-size: 0.8em;
        padding-left: $nester-width;
      }
      &__item {
        position: relative;
        margin-bottom: 0.8em;
        &:before {
          content: '';
          background: #ddd;
          height: 1px;
          width: $nester-width - 0.5em;
          position: absolute;
          left: -$nester-width;
          top: $nester-height;
        }
        &:after {
          content: '';
          height: $nester-height;
          width: 1px;
          background: $serene-light;
          position: absolute;
          left: -$nester-width;
          top: 0;
        }
      }
    }
  }

  &__meta {
    font-size: 0.8em;

    &__data {
      float: left;
      margin-right: 1em;
    }
    &__key, &__value { display: inline; }
    &__key {
      color: #ccc;
      padding-right: 0.4em;
    }
  }
  &__uploader {
    &__label {
      color: $serene-primary-cta;
      display: block;
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      text-align: center;
      &:hover {
        .parsed-torrent__uploader__text {
          background: $serene-lighter;
        }
      }
    }
    &__text {
      position: absolute;;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $serene-light;
      padding: 1em;
    }
  }
}

#parsed-torrent__uploader { display: none; }
