@import '~styles/colors';
@import '~styles/mixins';

.torrent-info {
  background: #fafafa;
  &__container {
    @include react-transition(translateY(0%), translateY(-100%), 'app', 'transform', '.torrent-info');
    @include react-transition(0, 0, 'app', 'height');

    border-top: 1px solid $serene-light;
    letter-spacing: initial;
  }

  &__name {
    font-size: 1.2em;
    padding: 1em 0 0.3em 1em;
  }

  &__details {
    display: table;
    font-size: 0.8em;
    table-layout: fixed;
  }

  &__data {
    margin: 1em;
    display: table;
    &--half {
      display: table-cell;
      padding-right: 1em;
    }
  }

  &__key, &__value { display: table-cell; }
  &__key { color: $serene-dark; }

  &__value {
    padding-left: 1em;
    &--monospace { font-family: $serene-fonts-monospace; }
  }

  &__download {
    &__link {
      border: 1px solid $serene-light;
      padding: 0.3em;
      margin-right: 1em;
      &:hover {
        background: #eee;
      }
    }
  }

}
