.app__body {
  display: flex;
  flex: 1;
  opacity: 1;

  &--drop-active {
    opacity: 0.9;

    & .torrent-list__container {
      transition: 200ms transform;
      transform: scale(0.99);
    }
  }
}

