/**
 * Mixes in :hover pseudoclass which darkens the font color
 * by specified amount
 * @param  $color   Color to be modified
 * @param  $amount  Amount to darken by
 * @mixes  &:hover
 */
@mixin darken-color-on-hover ($color, $amount: 10%) {
  &:hover {
    color: darken($color, $amount);
  }
}

@mixin one-line-rules ($height: 1em) {
  line-height: $height;
  height: $height;
}

@mixin react-transition ($from, $to, $name: 'app', $rule: 'transform', $child: '') {
  &.#{$name}-transition-enter #{$child} {
    #{$rule}: #{$from};
  }
  &.#{$name}-transition-leave #{$child} {
    #{$rule}: #{$to};
  }

  &.#{$name}-transition-enter-active #{$child} {
    transition: all 200ms ease-in-out;
    #{$rule}: #{$to};
  }
  &.#{$name}-transition-leave-active #{$child} {
    transition: all 200ms ease-in-out;
    #{$rule}: #{$from};
  }
}

@mixin one-line-ellipsis-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
