@import '~styles/colors';
@import '~styles/mixins';

.footer {
  $footer-height: 2.5em;
  @include one-line-rules($footer-height);

  background: $serene-lighter;
  border-top: 1px solid $serene-light;
  color: $serene-dark;
  font-size: 0.8rem;
  position: relative;

  &__actions {
    &-list {
      @include react-transition(translateX(-100%), translateX(0%), 'footer');

      color: $serene-darkest;
      float: left;
      text-align: center;
    }
    &-item {
      border-right: 1px solid #ccc;
      float: left;
      width: $footer-height;
      position: relative;

      &__text { display: none; }

      &__icon {
        position: relative;
        left: 1px;
      }

      &:hover {
        .footer__actions-item__icon { visibility: hidden; }

        .footer__actions-item__text {
          cursor: default;
          color: $serene-dark;
          position: absolute;
          display: inline;
          text-align: center;
          left: 0;
          right: 0;
        }
      }
    }
  }
  &__info {
    &-list {
      float: right;
      margin-right: 5px;
    }
    &-item {
      float: left;
      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ccc;
      }
    }
  }
}
