@import '~styles/colors';

.progress {
  $progress-height: 0.8em;
  line-height: 1;
  position: relative;
  font-size: $progress-height;
  height: $progress-height;

  &__bar {
    background: $serene-light;
    border-radius: $progress-height;
    height: 100%;
    overflow: hidden;

    &__progress {
      height: 100%;

      &--stopped, &--paused {
        background: $serene-darker;
      }
      &--downloading { background: $serene-primary; }
      &--uploading { background: $serene-success; }
      &--checking { background: $serene-warning; }
    }
  }

  &__text {
    &__container {
      position: absolute;
      left: 0; right: 0;
      top: 1em;
    }
  }
}
